
@{
    ViewBag.Title = "_Footer";
}
<!--<footer style="position:absolute;bottom:0px;left:5px;width:80%">
	<hr />
	<p>&copy; @DateTime.Now.Year - Reserva de sala de juntas</p>
</footer>-->

<div class="footer-copyright">
    <div class="container-fluid">
        <hr />
        <p>&nbsp;&nbsp;&nbsp;&nbsp; &copy; @DateTime.Now.Year - Reserva de sala de juntas</p>
    </div>
</div>