.disabledli {
	pointer-events: none;
	opacity: 0.6;
}

	.disabledli a {
		color: #A5A5A5;
	}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../Content/img/loading.gif') 50% 50% no-repeat rgb(249,249,249); /*url('~/Content/img/loading.gif') 50% 50% no-repeat rgb(249,249,249);*/
    opacity: .8;
}

.closeon {
    border: 1px solid #ccc;
    border-radius: 15px;
    background: white;
    color: #333;
    cursor: pointer;
    padding: 1px 4px;
    padding-right: 5px;
    font-weight: bold;
}

    .closeon:hover {
        background-color: #ECECEC;
        border-color: #adadad;
    }